$page-background-color: #2aa;
$page-font: "Liberation Sans";

.header-container {
  background: $page-background-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $page-font;
  color: #fff;
}